table {
  width: 100%;
  text-align: center;
}

.data_container {
  min-width: 360px;
  min-height: 260px;
}

#sensor {
  background-image: url(https://pp.userapi.com/c850520/v850520501/1e1c8/LND056Hf6UU.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 350px;
  height: 235px;
}

#sensor>td {
  margin: 10px;
}

.light {
  background-color: darkviolet;
  margin: auto;
  width: 60px;
}

.temp {
  background-color: red;
  margin: auto;
  width: 60px;
}
