<div style="text-align:center">
  <table style="width:100%">
    <tr>
      <th>Sensor index</th>
      <th>Light</th>
      <th>Temperature</th>
    </tr>
    <tr>
      <td>1</td>
      <td>{{data.light[0]}}</td>
      <td>{{data.temp[0]}}</td>
    </tr>
    <tr>
      <td>2</td>
      <td>{{data.light[1]}}</td>
      <td>{{data.temp[1]}}</td>
    </tr>
    <tr>
      <td>3</td>
      <td>{{data.light[2]}}</td>
      <td>{{data.temp[2]}}</td>
    </tr>
    <tr>
      <td>4</td>
      <td>{{data.light[3]}}</td>
      <td>{{data.temp[3]}}</td>
    </tr>
    <tr>
      <td>5</td>
      <td>{{data.light[4]}}</td>
      <td>{{data.temp[4]}}</td>
    </tr>
    <tr>
      <td>6</td>
      <td>{{data.light[5]}}</td>
      <td>{{data.temp[5]}}</td>
    </tr>
    <tr>
      <td>7</td>
      <td>{{data.light[6]}}</td>
      <td>{{data.temp[6]}}</td>
    </tr>
    <tr>
      <td>8</td>
      <td>{{data.light[7]}}</td>
      <td>{{data.temp[7]}}</td>
    </tr>
    <tr>
      <td>9</td>
      <td>{{data.light[8]}}</td>
      <td>{{data.temp[8]}}</td>
    </tr>
  </table>
  <table style="width:100%">
    <tr>
      <th>Instant Battery Voltage</th>
      <th>Instant Battery Current</th>
    </tr>
    <tr>
      <td>{{data.bv}}</td>
      <td>{{data.bc}}</td>
    </tr>
  </table>
  <table style="width:100%">
    <tr>
      <td>
        <button (click)="setSession(true)">Start session</button>
      </td>
      <td>Next session: {{sessionID.next}}</td>
    </tr>
    <tr>
      <td>
        <button (click)="setSession(false)">Stop session</button>
      </td>
      <td>Current session {{sessionID.current}}</td>
    </tr>
  </table>
  <button (click)="deleteData()"></button>
  <div id="chartdiv" [style.width.%]="100" [style.height.px]="500"></div>
</div>
